{:paths ["src"]
 :pablo/config
 {:group-id wing
  :github   "teknql/wing"
  :projects
  {core      {:desc   "Extensions to the clojure standard library"
              :target :jar
              :deps   [clojure.java-time
                       org.clojure/core.match]}
   malli     {:desc   "Malli related functionality for Wing"
              :target :jar
              :deps   [metosin/malli]}
   integrant {:desc   "Integrant functionality for Wing"
              :target :jar
              :deps   [integrant duct/core]}
   repl      {:desc       "Repl functionality for Wing"
              :target     :jar
              :deps       [integrant/repl
                           org.clojure/tools.deps.alpha]
              :local-deps [integrant]}
   test      {:desc   "Testing utilities for Wing"
              :target :jar
              :deps   [slingshot org.clojure/core.match]}
   wing      {:desc       "Batteries included framework for building applications"
              :target     :jar
              :local-deps [test repl integrant malli core]}}}
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}
    lambdaisland/kaocha    {:mvn/version "0.0-541"}}}
  :test-cljs
  {:extra-paths ["test"]
   :main-opts   ["-m" "cljs-test-runner.main" "-o" ".cljs-test-runner-out"]
   :extra-deps
   {org.clojure/clojurescript   {:mvn/version "1.10.520"}
    com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
    olical/cljs-test-runner     {:mvn/version "3.7.0"}
    org.clojure/test.check      {:mvn/version "0.10.0"}}}}
 :deps
 {org.clojure/tools.deps.alpha
  {:git/url "https://github.com/clojure/tools.deps.alpha.git"
   :sha     "148cab8f154711f8495bd632ebdc53a14dff7f09"}
  org.clojure/core.match {:mvn/version "0.3.0"}

  funcool/cuerdas {:mvn/version "2.2.0"}
  juxt/tick       {:git/url "https://github.com/juxt/tick.git"
                   :sha     "72b19095fa559112f5b2a4e61d4cddcb9895a5af"}
  slingshot       {:mvn/version "0.12.2"}
  metosin/malli   {:git/url "https://github.com/metosin/malli.git"
                   :sha     "47b66c3420b50fb7e56c9e187ae402b76b38f4e5"}
  integrant       {:mvn/version "0.8.0-alpha2"}
  integrant/repl  {:mvn/version "0.3.1"}
  duct/core       {:mvn/version "0.7.0"}}}
