{:paths ["src"]
 :pablo/config
 {:group-id wing
  :github   "teknql/wing"
  :projects
  {core  {:desc   "Extensions to the clojure standard library"
          :target :jar
          :deps   [clojure.java-time
                   org.clojure/core.match]}
   malli {:desc   "Malli related functionality for Wing"
          :target :jar
          :deps   [metosin/malli]}
   repl  {:desc   "Repl functionality for Wing"
          :target :jar
          :deps   [org.clojure/tools.deps.alpha]}
   test  {:desc   "Testing utilities for Wing"
          :target :jar
          :deps   [slingshot org.clojure/core.match]}
   wing  {:desc       "Batteries included framework for building applications"
          :target     :jar
          :local-deps [test repl  malli core]}}}
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}}}
  :test
  {:extra-paths ["test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "0.10.0"}
    lambdaisland/kaocha    {:mvn/version "0.0-541"}}}
  :test-cljs
  {:extra-paths ["test"]
   :main-opts   ["-m" "cljs-test-runner.main" "-o" ".cljs-test-runner-out"]
   :extra-deps
   {org.clojure/clojurescript   {:mvn/version "1.10.520"}
    com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
    olical/cljs-test-runner     {:mvn/version "3.7.0"}
    org.clojure/test.check      {:mvn/version "0.10.0"}}}}
 :deps
 {org.clojure/tools.deps.alpha {:mvn/version "0.8.677"}
  clj-commons/pomegranate      {:mvn/version "1.2.0"}
  org.clojure/core.match       {:mvn/version "0.3.0"}

  funcool/cuerdas {:mvn/version "2.2.0"}
  tick            {:mvn/version "0.4.23-alpha"}
  slingshot       {:mvn/version "0.12.2"}
  metosin/malli   {:mvn/version "0.2.0"}}}
